.button {
  font: inherit;
  border: 1px solid blueviolet;
  background: blueviolet;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #741188;
  border-color: #741188;
}

.button:active {
  background: blueviolet;
  border-color: blueviolet;
}

.button:focus {
  outline: none;
}
